css
.header{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ici c'est pour le logo qui se trouve dans notre page*/
.logo{
  font-size: 25px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(255, 255, 255);
}

/*ici c'est pour le navbar (liste)*/
.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

/*ici c'est pour enlever les decorations dans notre navbar*/

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
/*ici c'est pour mettre la couleur dans le liste et enlever les decorations*/
.nav-links a {
  color: white;
  text-decoration: none;
}
/*ici c'est pour le style quand vous etes au dessus d'une liste et tu veux cliquer*/
.nav-links a:hover{
    background-color: rgb(168, 168, 168);
    padding: 3px 5px;
    border-radius: 5px;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 100%;
  background-color:rgb(160, 154, 154);
}

/*responsive cad dans le petit écrat navabr prend la forme ...*/
@media (max-width: 785px) {
  .nav-links{
    display: none;
    flex-direction: column;
    border: 1px solid #333;
    background-color: #9c9b9b;
    text-transform: capitalize;
    position:absolute;
    top: 60px;
    right: 15px;
    width: 200px;
    border-radius: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display:block;

  }
}

/*ici c'est pour le h1 de l'accueil  bienvenue dans mon site*/
.Accueil{
    font-size: 1.5rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20%;
    color: rgb(252, 252, 252);
}

/*ici c'est pou le paramettre que nous trouvons dans l'accueil*/
.Accueil p{
    font-size: 1.3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -17px;
}

/*ici C'est pour le bouton de reservation que nous trouvons dans L'accueil*/
.btn{
    font-size: 20px;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    padding: 7px 14px;
    border-radius: 50px;
    display: inline-block;
}

/*ici également c'est toujours le bouton la pour signaler au cliseur qu'il est au dessus de bouton reserver...*/
.btn:hover{
    border: 2px solid rgb(143, 142, 142) ;
}

/*ici c'est pour l'image d'accueil*/
.image{
    background-image:url(./image/chambre\ accueil.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#apropos{
    margin: 0;
    padding: 1px 10px;
    background-color:#f8f8f8 ;
}
#apropos p {
    font-size: 20px;
}

/* ici c'est pour la disposition des deux chambres simple et vip*/
.chambres{
    display: flex;
    padding: 15px;
    justify-content:space-evenly;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
/*ici c'est pour reduire la taille de l'image*/
.chambres img {
    width:117%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    text-align: center;
}
/* ici c'est pour permettre a notre images de faire le mouvement*/
.chambre:hover{
    transform: translateY(-5px);
}

/* ici c'est pour notre le titre (equipement) */
h2{
    font-size: 2.0rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.services{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /*ici c pour donner l'espace dans nos differents service*/
    justify-content: center;
}

/* ici c pour nos service */
.service-card{
    background-color: #f1f1f1;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease;/*ici c pou que quand l'element monte ca puisse decendre avec rapidite*/
}
/* ca permet de faire monter les images*/ 
.service-card:hover{
    transform: translateY(-10px);
}
/* ici c'est pour reduire les images de service*/
.service-card img{
    width: 60px;
    height: 60px;
    margin-bottom: 1rem;
}
/*ici c'est pour les titre que nous trouvons dans nos services ex: wifi, television,bureau et ...*/
.service-card h3{
    margin-bottom: 0.15rem;
    color: #4e4e4e;
}
/* ici c'est pour les phrases que nous trouvons dans le dessous de titre de nos services*/
.service-card p{
    font-size: 0.95rem;
    color: #555;
}

/*ici c'est pour donner la forme au formulaire*/
form{
    display: block;
    margin: 40px auto;
    border: 2px solid white;
    padding: 15px;
    width: 333px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 20px rgba(83, 83, 83, 0.1);
}

/*ici c'est pour donne la forme aux label qui se trouve dans notre formulaire*/
form label{
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

/*ici c'est pour donner la forme dans le mot envoyer qui se trouve dans le formulaire*/
form input[type="submit"]{
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: rgb(109, 189, 28);
    border: solid white;
    border-radius: 50px;
    padding: 5px 10px;
    margin-left: 0;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form input{
    background-color: #e2e0e0;
    font-size: 20px;
    border-radius: 5px;
}
/*l'image de l'arriere plan de reservation*/
.reserve{
    background-image: url(./image/pexels-anna-zanovelli-bacci-1998392651-29010924.jpg);
    background-size: cover;
    background-position: center;
    right: 300px;
    margin: 0;
    padding: 5px;
}

/* ici c'est pour donner la forme au titre qui se trouve dans notre footer ex: adresse et contact*/
footer h4{
    text-align: center;
    font-size: 30px;
}
/* ici c'est pour la couleur blanche que nos ecrits porte et L'encadrement noir*/
footer{
    background-color: rgb(87, 74, 74);
    color: #cac9c9;
    border-radius: 2px;
}

/* ici c'est pour les phrases qui se trouve dans le footer ex: commune,quartier,numero,mail...*/
footer p{
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*ici c pour donner la forme dans les image que nous trouvons dans le footer ex: facebook,youtube,whatsapp*/
.audios{
    display: flex;
    justify-content:center;
    margin-left: 5%;
    align-items: center;
    background-position: center;

}
/* ici c pour reduire la taille des images que nous trouvons dans le footer*/
.audio img{
    margin: 0%;
    padding: 0%;
    margin-left: 10PX;
    width: 40px;
    border-radius: 5px;
    

}
.VIE{
    font-family:serif;
}
